<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Allura&family=Jaldi&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://kit.fontawesome.com/7e91826d21.js" crossorigin="anonymous"></script>
    <title>Kakidraws</title>
</head>
<body class="cuerpo">
<nav class="header">
    <input type="checkbox" id="check">
    <label for="check" class="botoncheck">
        <i class="fas fa-bars"></i>
    </label>
    <label class="Logo">
        <a href="/" style="text-decoration: none;">
        Kakidraws
        </a>
    </label>
    <ul class="cabecera">
        <li><a href="/acerca">Acerca de mi</a></li>
        <li><a href="/trabajos">Mis trabajos</a></li>
        <li><a href="/comisiones" class="activo">Comisiones</a></li>
        <li><a href="/contacto">Contacto</a></li>
    </ul>
</nav>
    <div class="comms">
        <div class="card" style="width: 20%; margin-bottom: 15px;">
            <img src="/images/cuadros1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Comision de cuadro acrilico</h5>
                <p class="card-text">Tipo: pintura sobre bastidor
                    Tecnica: Acrilico
                    Precio y tamaño variarian
                    Precio base $2500</p>
                <a href="https://www.instagram.com/kakidraws_/" target="_blank" class="btn btn-primary">MD Instagram</a>
            </div>
        </div>
        <div class="card" style="width: 20%; margin-bottom: 15px;">
            <img src="/images/cuadros2.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Comision de cuadro oleo</h5>
                <p class="card-text">Tipo: pintura sobre bastidor
                    Tecnica: Oleo
                    Precio y tamaño variarian
                    Precio base $2500</p>
                <a href="https://www.instagram.com/kakidraws_/" target="_blank" class="btn btn-primary">MD Instagram</a>
            </div>
        </div>
        <div class="card" style="width: 20%; margin-bottom: 15px;">
            <img src="/images/comision7.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Iconos/dibujos simples/sketchs</h5>
                <p class="card-text">Precio y tamaño variarian.
                    Precio base $650</p>
                <a href="https://www.instagram.com/kakidraws_/" target="_blank" class="btn btn-primary">MD Instagram</a>
            </div>
        </div>
        <div class="card" style="width: 20%; margin-bottom: 15px;">
            <img src="/images/fanarts2.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Fanarts</h5>
                <p class="card-text">Precio y tamaño variarian.
                    Precio base $1500</p>
                <a href="https://www.instagram.com/kakidraws_/" target="_blank" class="btn btn-primary">MD Instagram</a>
            </div>
        </div>
        <div class="card" style="width: 20%; margin-bottom: 15px;">
            <img src="/images/comision4.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Mascotas</h5>
                <p class="card-text">Precio y tamaño variarian.
                    Precio base $2000</p>
                <a href="https://www.instagram.com/kakidraws_/" target="_blank" class="btn btn-primary">MD Instagram</a>
            </div>
        </div>
    </div>
<table style="border:3px solid #7A7AC2; width: 50%; margin-left: 25%; margin-right: 25%; margin-top: 20px;">
    <tbody style="border:1px solid #7A7AC2;">
            <tr>
                <th style="border:3px solid #7A7AC2; text-align:center;">Usuario</th>
                <th style="border:3px solid #7A7AC2; text-align:center;">Mensaje</th>
            </tr>
        {{#each data}}
            <tr>
                <td style="border:3px solid #7A7AC2;">{{this.usuario}}</td>
                <td style="border:3px solid #7A7AC2;">{{this.comentario}}</td>
            </tr>
        {{/each}}
    </tbody>
</table>
    <footer class="footer">
        <div class="footer-left">
            <img src="/images/Kakilogo.png" alt="" class="coki">
            <p>Bienvenidos a mi pagina, aca van a poder conocer un poco mas de mi, ver mis trabajos y hasta pueden ponerse en contacto conmigo. Todo el arte de esta pagina esta hecho por mi. Sin nada mas que agregar disfruten su paso por mi pagina y ante cualquier duda contactenme.</p>
            <div class="socials">
                <a href="https://www.deviantart.com/kakidraws" target="_blank" rel="noreferrer noopener"><i
                        class="bi-brush"></i></a>
                <a href="https://twitter.com/kakidraws_" target="_blank" rel="noreferrer noopener"><i
                        class="bi-twitter"></i></a>
                <a href="https://www.instagram.com/kakidraws_/" target="_blank" rel="noreferrer noopener"><i
                        class="bi-instagram"></i></a>
                <a href="https://www.tiktok.com/@kakidraws_?lang=es" target="_blank" rel="noreferrer noopener"><i
                        class="bi-music-note"></i></a>
            </div>
        </div>
        <ul class="footer-right">
            <li>
                <h2>Links utiles</h2>
                <ul class="box">
                    <li><a href="/acerca">Acerca de mi</a></li>
                    <li><a href="/trabajos">Mis trabajos</a></li>
                    <li><a href="/comisiones">Comisiones</a></li>
                    <li><a href="/contacto">Contacto</a></li>
                </ul>
            </li>
            <li>
                <h2>Diseñador web</h2>
                <ul class="box">
                    <li><a href="https://www.facebook.com/santiago.morelli.3" target="_blank"
                            rel="noreferrer noopener">Facebook</a></li>
                    <li><a href="https://twitter.com/SantiMorelli21" target="_blank"
                            rel="noreferrer noopener">Twitter</a></li>
                    <li><a href="https://www.instagram.com/santinmorelli/" target="_blank"
                            rel="noreferrer noopener">Instagram</a></li>
                    <li><a href="https://github.com/Asmerald11" target="_blank" rel="noreferrer noopener">GitHub</a>
                    </li>
                </ul>
            </li>
        </ul>
        <div class="footer-bottom">
            <p>All Rights reserved by &copy;Kakidraws 2021</p>
        </div>
    </footer>
</body>

</html>
