<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Allura&family=Jaldi&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://kit.fontawesome.com/7e91826d21.js" crossorigin="anonymous"></script>
    <title>Kakidraws</title>
</head>
<body class="cuerpo">
<nav class="header">
    <input type="checkbox" id="check">
    <label for="check" class="botoncheck">
        <i class="fas fa-bars"></i>
    </label>
    <label class="Logo">
        <a href="/" style="text-decoration: none;">
        Kakidraws
        </a>
    </label>
    <ul class="cabecera">
        <li><a href="/acerca">Acerca de mi</a></li>
        <li><a href="/trabajos" class="activo">Mis trabajos</a></li>
        <li><a href="/comisiones">Comisiones</a></li>
        <li><a href="/contacto">Contacto</a></li>
    </ul>
</nav>
<h1 class="titulares">Yo y mis trabajos</h1>
    <div class="galeria">
        <div class="cuadro">
            <a href="/images/Trabajo6.jpg" target="_blank"><img src="/images/Trabajo6.jpg" alt="." width="600" height="400"></a>
            <div class="desc">Muestra de arte en el Centro Cultural Ernesto Sabato, 2018</div>
        </div>
        <div class="cuadro">
            <a href="/images/Trabajo4.jpg" target="_blank"><img src="/images/Trabajo4.jpg" alt="." width="600" height="400"></a>
            <div class="desc">Muestra de arte en el Centro Cultural Ernesto Sabato, 2019</div>
        </div>
        <div class="cuadro">
            <a href="/images/Trabajo3.jpg" target="_blank"><img src="/images/Trabajo3.jpg" alt="." width="600" height="400"></a>
            <div class="desc">Examen de 5to año en el Conservatorio Grassi</div>
        </div>
        <div class="cuadro">
            <a href="/images/Trabajo7.jpg" target="_blank"><img src="/images/Trabajo7.jpg" alt="." width="600" height="400"></a>
            <div class="desc">Concurso de pintura al aire libre patrocinado por APTHGRA</div>
        </div>
        <div class="cuadro">
            <a href="/images/Trabajo5.jpg" target="_blank"><img src="/images/Trabajo5.jpg" alt="." width="600" height="400"></a>
            <div class="desc">Clase de dibujo del Conservatorio Grassi en la sede de Pablo Podesta</div>
        </div>
        <div class="cuadro">
            <a href="/images/Trabajo2.jpg" target="_blank"><img src="/images/Trabajo2.jpg" alt="." width="600" height="400"></a>
            <div class="desc">Muestra de arte en el Centro Cultural Ernesto Sabato, 2019</div>
        </div>
        <div class="cuadro">
            <a href="/images/Trabajo1.jpg" target="_blank"><img src="/images/Trabajo1.jpg" alt="." width="600" height="400"></a>
            <div class="desc">Entrega de diplomas, Conservatorio Grassi 2019</div>
        </div>
    </div>
    <h1 class="titulares">Mis cuadros</h1>
    <div class="galeria">
        <div class="cuadro">
            <a href="/images/cuadros1.jpg" target="_blank"><img src="/images/cuadros1.jpg" alt="." width="600" height="400"></a>
            <div class="desc">Pintura al aire libre, acrilico sobre bastidor</div>
        </div>
        <div class="cuadro">
            <a href="/images/cuadros2.jpg" target="_blank"><img src="/images/cuadros2.jpg" alt="." width="600" height="400"></a>
            <div class="desc">Pintura de Marilina Bertoldi, oleo sobre bastidor</div>
        </div>
        <div class="cuadro">
            <a href="/images/cuadros3.jpg" target="_blank"><img src="/images/cuadros3.jpg" alt="." width="600" height="400"></a>
            <div class="desc">Copia de fanart de Kimi No Na Wa, oleo sobre bastidor, 40x60</div>
        </div>
        <div class="cuadro">
            <a href="/images/cuadros4.jpg" target="_blank"><img src="/images/cuadros4.jpg" alt="." width="600" height="400"></a>
            <div class="desc">Pintura de la tapa del disco "Blue Neighbourhood" de Troye Sivan, oleo sobre bastidor, 40x30</div>
        </div>
        <div class="cuadro">
            <a href="/images/cuadros5.jpg" target="_blank"><img src="/images/cuadros5.jpg" alt="." width="600" height="400"></a>
            <div class="desc">Pintura en tecnica "Grisalla", oleo sobre bastidor</div>
        </div>
        <div class="cuadro">
            <a href="/images/cuadros6.jpg" target="_blank"><img src="/images/cuadros6.jpg" alt="." width="600" height="400"></a>
            <div class="desc">Pintura abstracta, acrilico sobre bastidor</div>
        </div>
        <div class="cuadro">
            <a href="/images/cuadros7.jpg" target="_blank"><img src="/images/cuadros7.jpg" alt="." width="600" height="400"></a>
            <div class="desc">Pintura abstracta N°2, acrilico sobre bastidor</div>
        </div>
        <div class="cuadro">
            <a href="/images/cuadros8.jpg" target="_blank"><img src="/images/cuadros8.jpg" alt="." width="600" height="400"></a>
            <div class="desc">Pintura impresionista, oleo sobre bastidor</div>
        </div>
        <div class="cuadro">
            <a href="/images/cuadros9.jpg" target="_blank"><img src="/images/cuadros9.jpg" alt="." width="600" height="400"></a>
            <div class="desc">Naturaleza muerta N°1, oleo sobre bastidor</div>
        </div>
        <div class="cuadro">
            <a href="/images/cuadros10.jpg" target="_blank"><img src="/images/cuadros10.jpg" alt="." width="600" height="400"></a>
            <div class="desc">Naturaleza muerta N°2, oleo sobre bastidor</div>
        </div>
        <div class="cuadro">
            <a href="/images/cuadros11.jpg" target="_blank"><img src="/images/cuadros11.jpg" alt="." width="600" height="400"></a>
            <div class="desc">Copia impresionista del cuadro "Crepusculo en Venecia" de Claude Monet</div>
        </div>
    </div>
    <h1 class="titulares">Mis fanarts</h1>
    <div class="galeria">
        <div class="cuadro">
            <a href="/images/fanarts1.jpg" target="_blank"><img src="/images/fanarts1.jpg" alt="." width="600" height="400"></a>
            <div class="desc">Aqua de KonoSuba! - Kono Subarashii Sekai ni Shukufuku wo!</div>
        </div>
        <div class="cuadro">
            <a href="/images/fanarts2.jpg" target="_blank"><img src="/images/fanarts2.jpg" alt="." width="600" height="400"></a>
            <div class="desc">Cat in a box, copia de imagen viral en redes</div>
        </div>
        <div class="cuadro">
            <a href="/images/fanarts3.jpg" target="_blank"><img src="/images/fanarts3.jpg" alt="." width="600" height="400"></a>
            <div class="desc">Gon Freecs de HUNTERxHUNTER</div>
        </div>
        <div class="cuadro">
            <a href="/images/fanarts4.jpg" target="_blank"><img src="/images/fanarts4.jpg" alt="." width="600" height="400"></a>
            <div class="desc">Gloom, Pokémon</div>
        </div>
        <div class="cuadro">
            <a href="/images/fanarts5.jpg" target="_blank"><img src="/images/fanarts5.jpg" alt="." width="600" height="400"></a>
            <div class="desc">Sailor Uranus navideña, Sailor Moon</div>
        </div>
        <div class="cuadro">
            <a href="/images/fanarts6.jpg" target="_blank"><img src="/images/fanarts6.jpg" alt="." width="600" height="400"></a>
            <div class="desc">Gengar, Pokémon</div>
        </div>
        <div class="cuadro">
            <a href="/images/fanarts7.jpg" target="_blank"><img src="/images/fanarts7.jpg" alt="." width="600" height="400"></a>
            <div class="desc">Pikachu y Mr.Mime, Pokémon</div>
        </div>
        <div class="cuadro">
            <a href="/images/fanarts8.jpg" target="_blank"><img src="/images/fanarts8.jpg" alt="." width="600" height="400"></a>
            <div class="desc">Gon y Sobble, Pokémon</div>
        </div>
        <div class="cuadro">
            <a href="/images/fanarts9.jpg" target="_blank"><img src="/images/fanarts9.jpg" alt="." width="600" height="400"></a>
            <div class="desc">Shikamaru Nara, Naruto Shippuden</div>
        </div>
    </div>
    <h1 class="titulares">Mi trabajo realista</h1>
    <div class="galeria">
        <div class="cuadro">
            <a href="/images/real1.jpg" target="_blank"><img src="/images/real1.jpg" alt="." width="600" height="400"></a>
            <div class="desc">Retrato de la modelo - Cajsa Wessberg</div>
        </div>
        <div class="cuadro">
            <a href="/images/real2.jpg" target="_blank"><img src="/images/real2.jpg" alt="." width="600" height="400"></a>
            <div class="desc">Anya Taylor-Joy</div>
        </div>
        <div class="cuadro">
            <a href="/images/real3.jpg" target="_blank"><img src="/images/real3.jpg" alt="." width="600" height="400"></a>
            <div class="desc">Elton John</div>
        </div>
        <div class="cuadro">
            <a href="/images/real4.jpg" target="_blank"><img src="/images/real4.jpg" alt="." width="600" height="400"></a>
            <div class="desc">Proyecto personal - Calavera</div>
        </div>
        <div class="cuadro">
            <a href="/images/real5.jpg" target="_blank"><img src="/images/real5.jpg" alt="." width="600" height="400"></a>
            <div class="desc">Kai´Sa - League of Legends</div>
        </div>
        <div class="cuadro">
            <a href="/images/real6.jpg" target="_blank"><img src="/images/real6.jpg" alt="." width="600" height="400"></a>
            <div class="desc">Mi hermana Constanza</div>
        </div>
        <div class="cuadro">
            <a href="/images/real7.jpg" target="_blank"><img src="/images/real7.jpg" alt="." width="600" height="400"></a>
            <div class="desc">Ojos realistas</div>
        </div>
    </div>
    <h1 class="titulares">Mis comisiones</h1>
    <div class="galeria">
        <div class="cuadro">
            <a href="/images/comision1.jpg" target="_blank"><img src="/images/comision1.jpg" alt="." width="600" height="400"></a>
            <div class="desc">Comision 1 - Mascotas</div>
        </div>
        <div class="cuadro">
            <a href="/images/comision2.jpg" target="_blank"><img src="/images/comision2.jpg" alt="." width="600" height="400"></a>
            <div class="desc">Comision 2 - Mascotas</div>
        </div>
        <div class="cuadro">
            <a href="/images/comision3.jpg" target="_blank"><img src="/images/comision3.jpg" alt="." width="600" height="400"></a>
            <div class="desc">Comision 3 - Mascotas</div>
        </div>
        <div class="cuadro">
            <a href="/images/comision4.jpg" target="_blank"><img src="/images/comision4.jpg" alt="." width="600" height="400"></a>
            <div class="desc">Comision 4 - Mascotas</div>
        </div>
        <div class="cuadro">
            <a href="/images/comision5.jpg" target="_blank"><img src="/images/comision5.jpg" alt="." width="600" height="400"></a>
            <div class="desc">Comision 5 - Mascotas</div>
        </div>
        <div class="cuadro">
            <a href="/images/comision6.png" target="_blank"><img src="/images/comision6.png" alt="." width="600" height="400"></a>
            <div class="desc">Comision 6 - Icono de perfil</div>
        </div>
        <div class="cuadro">
            <a href="/images/comision7.png" target="_blank"><img src="/images/comision7.png" alt="." width="600" height="400"></a>
            <div class="desc">Comision 7 - Icono de perfil</div>
        </div>
        <div class="cuadro">
            <a href="/images/comision8.png" target="_blank"><img src="/images/comision8.png" alt="." width="600" height="400"></a>
            <div class="desc">Comision 8 - Icono de perfil</div>
        </div>
    </div>
<footer class="footer">
    <div class="footer-left">
        <img src="/images/Kakilogo.png" alt="" class="coki">
        <p>Bienvenidos a mi pagina, aca van a poder conocer un poco mas de mi, ver mis trabajos y hasta pueden ponerse en contacto conmigo. Todo el arte de esta pagina esta hecho por mi. Sin nada mas que agregar disfruten su paso por mi pagina y ante cualquier duda contactenme.</p>
        <div class="socials">
            <a href="https://www.deviantart.com/kakidraws" target="_blank" rel="noreferrer noopener"><i class="bi-brush"></i></a>
            <a href="https://twitter.com/kakidraws_" target="_blank" rel="noreferrer noopener"><i class="bi-twitter"></i></a>
            <a href="https://www.instagram.com/kakidraws_/" target="_blank" rel="noreferrer noopener"><i class="bi-instagram"></i></a>
            <a href="https://www.tiktok.com/@kakidraws_?lang=es" target="_blank" rel="noreferrer noopener"><i class="bi-music-note"></i></a>
        </div>
    </div>
    <ul class="footer-right">
        <li>
            <h2>Links utiles</h2>
            <ul class="box">
                <li><a href="/acerca">Acerca de mi</a></li>
                <li><a href="/trabajos">Mis trabajos</a></li>
                <li><a href="/comisiones">Comisiones</a></li>
                <li><a href="/contacto">Contacto</a></li>
            </ul>
        </li>
        <li>
            <h2>Diseñador web</h2>
            <ul class="box">
                <li><a href="https://www.facebook.com/santiago.morelli.3" target="_blank" rel="noreferrer noopener">Facebook</a></li>
                <li><a href="https://twitter.com/SantiMorelli21" target="_blank" rel="noreferrer noopener">Twitter</a></li>
                <li><a href="https://www.instagram.com/santinmorelli/" target="_blank" rel="noreferrer noopener">Instagram</a></li>
                <li><a href="https://github.com/Asmerald11" target="_blank" rel="noreferrer noopener">GitHub</a></li>
            </ul>
        </li>
    </ul>
    <div class="footer-bottom">
        <p>All Rights reserved by &copy;Kakidraws 2021</p>
    </div>
</footer>
</body>
</html>