
*{
    padding: 0;
    margin: 0;
}

html{
    font-family: Arial, Helvetica, sans-serif;
    width: 85%;
}

#contenedor{
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}


.header{
    background: cornflowerblue;
    color: white;
    height: 60px;
}

.logo{
    text-transform: uppercase;
}

.logo a{
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.navegacion{
    background: darkblue;
    color: white;
    margin-top: 10px;
    text-decoration: none;
    text-align: right;
} 

.footer{
    background: cornflowerblue;
    color: white;
    padding: 10px;
    text-align: center;
}

.main{
    width: 80%;
    background-color: grey;
    padding: 8px;

}

.titulo{
    background-color: white;
    padding: 5px;
    text-align: left;
}

.desarrollo{
    background-color: white;
    text-align: center;
    padding-top: 20px;
    padding-left: 20px;
}
.cuadro{
    text-align: left;
    display: inline-block;
    width: 45%;
    padding-top: 10px;
    padding-bottom: 20px;
}

.banner{
    float: right;
    text-align: start;
    background-color: lightgray;
    padding: 35px;
    height: 150px;
}